.Rproj.user
.Rhistory
.RData
.Ruserdata
R/geo/kameraliste.csv
R/camerahabitat20210110.xlsx
R/TIFF_GRAIN
R/glmm_in_process_cache
R/glmm_sp_cache
*.bak
*.aux
*.tex.bak
*.lot
*.lof
*.blg
*.gfs
Thesis/library.bib

*.log

*.bbl
